<%- include ../partial/header %>
<h1 class="song-header">All Songs</h1>
<div class='container'>
<div class='row'>
<% songs.forEach(function(song){ %>
    <div class='song-box col-md-5'>
    <a href="/songs/<%= song.id %>"><%= song.artist %> - <%= song.title %></a>

    <% if(user) {if (song.user==user.id){ %>
        <form method='POST' action="/songs/<%= song.id %>/?_method=DELETE">
            <input class="btn delete-button" type="submit" value='Delete'>
        </form>
   <% }} %>
    </div>
<% }); %>
</div>

<%- include ../partial/footer %>
