<%- include ../partial/header %>
<h1 class="song-header">Search Results</h1>
<div class="container">
<div class='row'>
    <% data.result.forEach(function(result){ %>
        <div class='song-box col-md-6 panel'><%= result.artistName %> - <%= result.name %>
            <form action="/songs" method="POST">
                <input type="submit" value='add song'>
                <input type="hidden" name='artist' value='<%= result.artistName %>'>
                <input type="hidden" name='title' value='<%= result.name %>'>
                <input type="hidden" name='user' value='<%=user%>'>
            </form>
        </div>
    <% }); %>
    </div>
</div>
<%- include ../partial/footer %>
