<%- include ../partial/header %>
<h1 class="song-header"><%= data.artistName %> - <%= data.name %></h1>
<div class='container'>
    <div class="row">
        <div class="col-md-4 show-small">
            <% if (data.images) { %>
                <img src="<%=data.images[3]%>" alt="Album Cover"><br>
                <span><%= data.albumName %></span>
            <% } else { %>
                <p>Thumbnail Missing</p>
            <%}%>
        </div>
        <div class="col-md-8 show-large">
            <% if (youtubeResult) { console.log('this fired')%>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= youtubeResult.raw.id.videoId %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% } else { %>
                <p>My YouTube API Query limit has been filled. Can you believe it?!</p>
            <% } %>
        </div>
        <div class="col-md-4 show-small">
            <% if (data.tags.length > 1) { %>
                <h3>Suggested Tags:</h3>
                <ul class="show-list">
                    <% data.tags.forEach(function(tag){ %>
                        <li><%=tag%>
                    <% }); %>
                </ul>
            <% } %>    

            <h3>Similar Tracks</h3>
            <ul class="show-list">
                <% if (similar.track.length > 1){ %>
                    <% for (i=0; i<5; i++) { %>
                        <li><%= similar.track[i].artist.name %> - <%= similar.track[i].name %>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="col-md-8 show-large">
            <h3>Comments</h3>
            <ul class="comment-list">
            <% if (song.comments) {
                song.comments.forEach(function(comment){ %>
                    <li>
                        <span class="user-name"><%= comment.user %></span><br>
                        <%= comment.content %>
                        <% if (comment.userId == user.id) { %>
                        <form method='POST' action="/songs/<%= song.id %>/comments/<%= comment.id %>/?_method=PUT">
                            <input type="hidden" name="commentId" value="<%= comment.id %>">
                            <input type="hidden" name="songId" value="<%= song.id %>">
                            <input type="submit" value='Edit'>
                            <input type="text" name='content'>
                        </form>
                        <% } %>
                    </li>
               <% });%>
            <% } %> 
            </ul>   
            <form class="form-inline" action="/songs/<%=song.id%>/comments" method='POST'>
                <div class="form-group mx-sm-3 mb-2">
                    <input placeholder="..." class="form-control" type="text" name="comment">
                    <button type="submit" class="btn btn-primary mb-2 comment-button">Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partial/footer %>
