<%- include ../partial/header %>
<h1>Song Details</h1>
<div class='container'>
    <div class="row">
        <div class="col-md-4">
            <% if (data.images) { %>
            <img src="<%=data.images[2]%>" alt="Album Cover">
            <% } %>
        </div>
        <div class="col-md-8">
            <p>
                <%= data.artistName %> - <%= data.name %>
            </p>
            <p>
                <%= data.albumName %>    
            </p>
            <p>Suggested Tags:</p>
            <ul>
                <% data.tags.forEach(function(tag){ %>
                    <li><%=tag%>
                <% }); %>
            </ul>
            <p>Similar Tracks</p>
            <ul>
                <% for (i=0; i<5; i++) { %>
                    <li><%= similar.track[i].artist.name %> - <%= similar.track[i].name %>
                <% } %>
            </ul>
        </div>
        <div class="col-md-12">
            <p>Comments</p>
            <ul>
            <% if (song.comments) {
                song.comments.forEach(function(comment){ %>
                    <li>
                        <%= comment.user %><br>
                        <%= comment.content %>
                    </li>
               <% });%>
            <% } %> 
            </ul>   
            <form action="/songs/<%=song.id%>/comments" method='POST'>
                <input type="text" name="comment">
                <input type="submit" value='submit comment'>
            </form>
        </div>
    </div>
</div>

<%- include ../partial/footer %>
