<%- include ../partial/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<% users.forEach(function(user) {  %>    
    <img src='<%=user.avatar%>'> - <a href="/users/<%= user.id %>"><%= user.name %></a>
    <%});%>
<%- include ../partial/footer %>

