<%- include ../partial/header %>
<h1 class="song-header"><%= user.name %>'s songs</h1>

<div class='container'>
        <div class='row'>
        <% songs.forEach(function(song){ %>
            <div class='song-box col-md-6'>
            <a href="/songs/<%= song.id %>"><%= song.artist %> - <%= song.title %></a>
        
            <% if(user) {if (song.user==current){ %>
                <form style="margin-top: 10px;" method='POST' action="/songs/<%= song.id %>/?_method=DELETE">
                    <input type="submit" value='Delete'>
                </form>
           <% }} %>
            </div>
        <% }); %>
        </div>

<%- include ../partial/footer %>